.logo {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  padding-top: 1vw;
}

.option {
  width: 2vw;
  height: 2vw;
  padding-top: 1.5vw;
  margin-right: 2vw;
}

.app {
  margin: 20px;
}

.app-name {
  font-family: sans-serif;
  color: orange;
  font-size: xx-large;
  font-weight: bolder;
}

.header {
  margin: 1vw;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid lightgray;
}

.left-header {
  display: flex;
}

.all-recipes {
  border: 2px solid black;
  width: 75%;
  display: wrap;
}

.user {
  font-size: medium;
  font-size: x-large;
  padding-top: 0.2vw;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 0 10vw 35px 10vw;
}

.right-panel {
  display: flex;
}

.add-button {
  width: 3vw;
  height: 2vw;
  margin-top: 1.5vw;
}

.recipe {
  width: 35vw;
  height: fit-content;
  border: 1px solid lightgray;
  margin: 0 auto 3vw;
}

.recipe-image {
  width: 35vw;
  overflow-y: hidden;
}

.recipes {
  height: fit-content;
  width: 100%;
}

.adder {
  display: flex;
  padding-left: 7vw;
}

.ingredients {
  padding-left: 7vw;
}

.add-icon {
  width: 1vw;
  height: 1vw;
}

.content {
  padding-left: 1vw;
}

.by-name {
  font-style: italic;
}
